# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.venv/
venv/

# Environment
.env

# Docker
pgdata/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Alembic
alembic/versions/__pycache__/

# OS
.DS_Store
Thumbs.db

# Test
.pytest_cache/
.coverage
htmlcov/